# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Env files
.env
.env.local

# Database
*.db
*.sqlite3

# IDE
.vscode/*
!.vscode/extensions.json
.idea
